@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

*{
    padding:0;
    margin:0;
}

p,a,div,li{
    font-family:"doto";
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e3e1e6;
    position:relative;
    
}

.navbar{
    position:sticky;
    top:0;
    z-index:10;
    backdrop-filter:blur(10px);
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    display: flex;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 10px;
    .chimdi{
        color:#8b5943;
        font-family: "doto" ;
        font-weight:900;
        font-size:35px;
        margin-left:20px;
        overflow:hidden;
        white-space: nowrap;
        width:0;
        border-right:2px solid #8b5943;
        animation: typing 4s steps(20, end) forwards, blink 0.7s step-end infinite;
        @keyframes typing {
            from { width: 0 } to { width: 20ch}
        }
        @keyframes blink {
            from, to{
                border-color:transparent;
            } 50%{
                border-color: #8b5943;
            }
        }
        animation-fill-mode: forwards;;
    }
    .navlinks{
        display: flex;
        list-style: none;
        gap:1rem;
        margin-right:30px;
    }
    li{
        a{
            color:#8b5943;
            font-weight: 900;
            text-decoration:none;
            font-size:20px;
            transition:transform 0.3s ease, color 0.3s ease;
            
        }
        &:hover{
            transform:scale(1.1);
        }
    }
    
}

#about{
    .intro-ish{
        text-align: center;
        margin-top:200px;
        margin-bottom:100px;
        h1{
            font-size:45px;
            color:#8b5943;
            font-weight: 900;
            line-height: 200px;
        }
        h2{
            font-weight: 700;
            color:#a68863;
            font-size:30px;
        }
    }
    .about-me{
        margin:300px auto;
        padding:30px 30px;
        h1{
            text-align: center;
            font-size:35px;
            color:#8b5943;
            font-weight: 900;
        }
        p{
            margin-top:40px;
            font-weight:800;
            font-size:20px;
            margin: 0 30px 20px 90px;
            line-height: 30px;
        }
       
    }
}